* {
    margin: 0;
    padding: 0;
}


.paragraph-font p {
    font-size: 100;
}

.footerCSS{
    max-width: 100;

}

.container-fluid{
    height: auto;
}

.full{
    height:auto;
    background-color: black;
}
