* {
    margin: 0;
    padding: 0;
}


.paragraph-font p {
    font-size: 50;
}

.footerCSS{
    max-width: 100;

}

.container-fluid{
    height: auto;
}

.full{
    height:auto;
    background-color: black;
}

.contentmenu{
    width: 70%; /* Not Full width */
    padding-top: 20px;
    padding-bottom:20px; /* Some padding */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}